<div class="app-container">
  <app-header></app-header>
  <div class="main-picture"></div>
  <div class="images-banner">
    <div class="image-banner-item">
      <img src="../../../assets/images/home/banner/design.png" alt="design" />
      <p>Diseño</p>
    </div>
    <div class="image-banner-item">
      <img src="../../../assets/images/home/banner/decoration.png" alt="decoration" />
      <p>Decoración</p>
    </div>
    <div class="image-banner-item">
      <img src="../../../assets/images/home/banner/edible.png" alt="edible" />
      <p>Consumibles</p>
    </div>
    <div class="image-banner-item">
      <img src="../../../assets/images/home/banner/clothes.png" alt="clothes" />
      <p class="clothes">Ropa</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="local-business-banner">
        <div class="local-business-background">
          <div class="local-business-text">
            <div class="transparent-background">
              <div>
                <p class="main-title">Diseño local</p>
                <hr>
              </div>
              <p class="sub-title">Para todas las tendencias</p>
              <div class="view-button">dale un vistazo</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="plant-banner">
        <div class="block">
          <div>
            <p>Pauta publicitaria</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 publicity">
      <div class="month-deals">
        <p>(Month) deals</p>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 publicity">
      <div class="ad-container">
        <div class="ads">Pauta Publicitaria</div>
        <div class="ads">Pauta Publicitaria</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="talent-background">
        <p class="talent-background-title">te acompañamos</p>
        <span class="talent-background-subtitle">en tu proceso de compra</span>
        <hr class="talent-hr">
        <p class="talent-background-second-subtitle">
          Creemos en el talento local, por eso contamos con artistas para que escojas
        </p>
        <p class="talent-background-third-subtitle">los diseños que más te gustan.</p>
        <img class="down-arrow" src="./../../../assets/images/home/banner/down-arrow.png" alt="down arrow"  />
        <img class="right-arrow" src="./../../../assets/images/home/banner/right-arrow.png" alt="right arrow"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="information">
      <div class="grey-box">
        <img class="plane img-fluid" src="./../../../assets/images/home/icons/plane.png" alt="plane icon" />
        <h4>Envios a todo el país</h4>
        <hr>
        <p>Por compras superiores a 100.000 pesos te regalamos el costo del envío</p>
      </div>
      <div class="grey-box">
        <img class="email" src="./../../../assets/images/home/icons/email.png" alt="email icon" />
        <h4>Soporte 24/7</h4>
        <hr>
        <p>Personal capacitado para brindarte el apoyo que necesitas</p>
      </div>
      <div class="grey-box">
        <img class="tags" src="./../../../assets/images/home/icons/tags.png" alt="pricetag icon"  />
        <h4>Productos exclusivos</h4>
        <hr>
        <p>Cada producto es hecho a mano y cuenta con los mejores estandares de calidad</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="video-container">
        <p>Espacio para video (concepto de marca)</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="nature-container">
        <h1>Somos Nature Friendly - Somos Be-leaf</h1>
        <p>
          <a href="https://www.instagram.com/beleaf_design/" rel="noreferrer" target="_blank">#naturefriendlydesign</a>
          |<a href="https://www.instagram.com/beleaf_design/" rel="noreferrer" target="_blank">#ecofriendlydesign</a>
          |<a href="https://www.instagram.com/beleaf_design/" rel="noreferrer" target="_blank">#localdesign</a>
          |<a href="https://www.instagram.com/beleaf_design/" rel="noreferrer" target="_blank">#beleafdesign</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 form-container">
      <app-contact></app-contact>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="cta">
        <p>Call to action</p>
        <div class="view-button">Registrate ya</div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
