<div class="container">
  <div class="dashboard-title">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 box-container">
    <div class="box">
      <div class="image-box">
        <img src="../../../../../assets/images/users/dashboard/1x/blue-pencil.png" alt="blue pencil">
      </div>
      <div class="text-box">
        <p>Mi cuenta</p>
        <hr>
        <small>Cada producto es hecho a mano y cuenta con los mejores estandares de calidad</small>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 box-container">
    <div class="box">
      <div class="image-box">
        <img src="../../../../../assets/images/users/dashboard/1x/money.png" alt="Money">
      </div>
      <div class="text-box">
        <p>Ganancias</p>
        <hr>
        <small>Personal capacitado para brindarte el <br>apoyo que necesitas</small>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 box-container">
    <div class="box">
      <div class="image-box">
        <img src="../../../../../assets/images/users/dashboard/1x/graph.png" alt="Graph">
      </div>
      <div class="text-box">
        <p>Ventas</p>
        <hr>
        <small>Por compras superiores a 100,000 pesos <br> te regalamos el costo del envío</small>
      </div>
    </div>
  </div>
</div>