@import "../../../../../assets/styles/abstracts/variables";

.edit-container {
    border: 1px solid $blue-brand;
    padding: 1rem 0;

    h1 {
        font-weight: bolder;
    }

    label {
        margin: 0 1.2rem;
        font-weight: lighter;
    }

    .notification-input {
        display: flex;
        align-items: center;

        .question-mark {
            width: 1.2rem;
        }
    }

    h1,
    .notification-input {
        margin: 1rem 3rem;
    }

    .comments {
        display: flex;
        justify-content: center;
        margin: 0 15%;

        h5 {
            font-weight: bolder;
        }
    }
}

.toolTipContainer {
    border: 1px solid $blue-brand;
    width: 72%;
    float: right;
    margin: 2% 0 2% 0;

    .toolTip {
        position: relative;
        padding: 10% 5%;
        .question-mark {
            width: 7%;
            position: absolute;
            top: 4%;
            left: 4%;
        }
        p {
            margin: 2% 8%;
        }
    }
}

@media screen and (max-width: 500px) {
    .toolTipContainer {
        width: 100%;
    }
}