<div class="edit-container">
  <h1>Notifications</h1>
  <div class="notification-input">
    <input type="checkbox" name="monthly-sales" class="monthly-sales">
    <label for="monthly-sales">Reportes mensuales de ventas</label>
    <img class="question-mark" src="../../../../../assets/images/users/dashboard//1x/question.png" alt="question-mark icon">
  </div>
  <div class="notification-input">
    <input type="checkbox" name="promos" class="promos">
    <label for="promos">Planes de Publicidad y promos</label>
    <img class="question-mark" src="../../../../../assets/images/users/dashboard//1x/question.png" alt="question-mark icon">
  </div>
  <div class="notification-input">
    <input type="checkbox" name="activate-comments" class="activate-comments">
    <label for="activate-comments">Activar Comentarios</label>
  </div>
  <div class="comments">
    <h5>Últimos comentarios</h5>
  </div>
</div>