<div class="edit-container">
  <h1>Notifications</h1>
  <div class="notification-input">
    <input type="checkbox" name="monthly-sales" class="monthly-sales">
    <label for="monthly-sales">Reportes mensuales de ventas</label>
    <img class="question-mark" src="../../../../../assets/images/users/dashboard/SVG/question.svg" alt="question-mark icon"
      (mouseenter)="monthlyToolTip = true" (mouseleave)="monthlyToolTip = false">
  </div>
  <div class="notification-input">
    <input type="checkbox" name="promos" class="promos">
    <label for="promos">Planes de Publicidad y promos</label>
    <img class="question-mark" src="../../../../../assets/images/users/dashboard/SVG/question.svg" alt="question-mark icon"
      (mouseenter)="publicityToolTip = true" (mouseleave)="publicityToolTip = false">
  </div>
  <div class="notification-input">
    <input type="checkbox" name="activate-comments" class="activate-comments">
    <label for="activate-comments">Activar Comentarios</label>
  </div>
  <div class="comments">
    <h5>Últimos comentarios</h5>
  </div>
</div>
<div class="toolTipContainer" *ngIf="monthlyToolTip">
  <div class="toolTip">
    <img class="question-mark" src="../../../../../assets/images/users/dashboard/SVG/question.svg" alt="question-mark icon">
    <p>Recibirás un reporte mensual de tus 
      ventas al correo associado con tu cuenta Be-leaf
    </p>
  </div>
</div>
<div class="toolTipContainer" *ngIf="publicityToolTip">
  <div class="toolTip">
    <img class="question-mark" src="../../../../../assets/images/users/dashboard/SVG/question.svg" alt="question-mark icon">
    <p>Notificación de variación de precios en publicidad ,
      pauta y planes para mejorar tu vision en el mercado local
    </p>
  </div>
</div>