<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12" style="background: hsl(213, 43%, 26%);">
    <div class="poly">
      <div class="login-background"></div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 0;">
    <div class="blue-background">
      <img class="down-arrow" src="../../../../assets/images/users/login/down.png" alt="down arrow"  />
      <img class="right-arrow" src="../../../../assets/images/home/banner/right-arrow.png" alt="right arrow"/>
      <img class="logo" src="../../../../assets/images/users/login/logo.png" alt="logo" />
      <div class="talent">
        <p>Accede</p>
        <p>y conoce más de nuestro talento</p>
      </div>
      <form class="login-form">
        <input type="email" name="email" class="email" placeholder="Correo Electrónico">
        <input type="password" name="password" class="password" placeholder="Contraseña">
        <div class="social-login">
          <div class="facebook">
            <p>Regístro por <br>Facebook</p>
            <img src="../../../../assets/images/users/signup/icons/facebook-blue.png" alt="facebook logo">
          </div>
          <div class="google">
            <p>Regístro por <br>Google +</p>
            <img src="../../../../assets/images/users/signup/icons/google.png" alt="google logo">
          </div>
          <div class="twitter">
            <p>Regístro por <br>Google +</p>
            <img src="../../../../assets/images/users/signup/icons/twitter.png" alt="twitter logo">
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="rememberme" value="Recordar Login" checked>
            Recordar Login
          </label>
          <p>Recuperar contraseña</p>
        </div>
      </form>
    </div>
  </div>
</div>
