<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="poly">
      <div class="signup-background"></div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 0;">
    <div class="white-background">
      <img class="down-arrow" src="../../../../assets/images/users/signup/down.png" alt="down arrow"  />
      <img class="right-arrow" src="../../../../assets/images/users/signup/right.png" alt="right arrow"/>
      <img class="logo" src="../../../../assets/images/users/signup/logo.png" alt="logo" />
      <div class="talent">
        <p>Únete/Regístrate</p>
        <p>y conoce más de nuestro talento</p>
      </div>
      <form class="login-form">
        <input type="text" name="name" class="name" placeholder="Nombre Completo">
        <input type="email" name="email" class="email" placeholder="Correo Electrónico">
        <input type="password" name="password" class="password" placeholder="Contraseña">
        <input type="password" name="password-confirm" class="password" placeholder="Confirmar contraseña">
        <div class="social-login">
          <div class="facebook">
            <p>Regístro por <br>Facebook</p>
            <img src="../../../../assets/images/users/signup/icons/facebook.png" alt="facebook logo">
          </div>
          <div class="google">
            <p>Regístro por <br>Google +</p>
            <img src="../../../../assets/images/users/signup/icons/google.png" alt="google logo">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
