<footer class="home-footer">
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="logo-container">
        <div class="logo-row" style="align-items: center;">
          <img class="logo-footer" src="../../../assets/images/home/logo.png" alt="logo">
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="navigation-container">
        <div style="width: 100%">
          <ul class="navigation">
            <h4>Tienda</h4>
            <li>- Diseño</li>
            <li>- Decoración</li>
            <li>- Consumibles</li>
            <li>- Ropa</li>
          </ul>
          <ul class="second-navigation">
            <li>Noticias / Promos</li>
            <li>Blog</li>
            <li>Descuento estudiantes</li>
            <li>Novedades <img style="width:25px;" src="../../../assets/icons/ios-bookmark.svg" alt="bookmark icon"></li>
          </ul>
        </div>
        <div class="line"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="navigation-container">
        <div style="width: 100%">
          <ul class="navigation">
            <h4>Politicas</h4>
            <li> - Privacidad</li>
            <li> - Garantía</li>
            <li> - Términos de venta</li>
            <li> - Términos y condiciones</li>
          </ul>
          <div class="second-navigation">
            <h4>Contacto <img style="width:25px; margin-left: 8px" src="../../../assets/icons/ios-pin.svg" alt="location icon"></h4>
            <p>contacto@beleafdesign.co</p>
          </div>
        </div>
        <div class="line"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="icons-container">
        <p>Síguenos</p>
        <div class="social-container">
          <img src ="../../../assets/icons/logo-instagram.svg" alt="logo-instagram"/>
          <img src ="../../../assets/icons/logo-facebook.svg" alt="logo-facebook" />
          <img src ="../../../assets/icons/logo-twitter.svg" alt="logo-twitter" />
          <img src ="../../../assets/icons/logo-googleplus.svg"  alt="logo-googleplus" />
        </div>
        <p>Medios de pago</p>
        <div class="payment-container">
          <div>
            <img src ="../../../assets/images/home/icons/pse.png" style="width: 60px; height: 25px;" alt="pse" />
            <img src ="../../../assets/images/home/icons/master-visa.png" alt="master-visa cards" />
          </div>
          <div>
            <img src ="../../../assets/images/home/icons/payu.png" style="width: 60px; height: 30px;" alt="pse"/>
            <img src ="../../../assets/images/home/icons/diners-amex.png" style="margin: 0;" alt="diners-amex cards"/>
          </div>
        </div>
        <div class="security">
          <p style="margin:0;">Sitio Seguro <img style="width:25px; margin-left: 5px" src="../../../assets/icons/ios-lock.svg" alt="secure icon"></p>
          <img src ="../../../assets/images/home/icons/comodo.png" style="width:60px;" alt="secure website icon" />
        </div>
      </div>
    </div>
</footer>
