%full-column-flex-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

%flex-center {
  @extend %full-column-flex-box;
  justify-content: center;
  align-items: center;
}

%full-row-flex-box {
  @extend %full-column-flex-box;
  flex-direction: row;
}

%background {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

%social-button {
  display: flex;
  cursor: pointer;
  width: 38%;
  align-items: center;
  margin: 6px;
  padding: 8px 0;
}

