@import "placeholders";
@import "mixins";
    
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,800');

// Fonts
$default-fonts: "Muli","Asgalt", "Helvetica", sans-serif;

// Default Backgrounds

$local-banner-background: url(/assets/images/home/banner/local-banner.jpg);
$plant-background: url(/assets/images/home/banner/plant.jpg);
$main-background: url(/assets/images/home/main.png);
$modal-background: url(/assets/images/home/modal/background.png);
$login-background: url(/assets/images/users/login/login.png);
$signup-background: url(/assets/images/users/signup/signup.jpg);


// Breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 880px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Brand
$blue-brand: hsl(213, 43%, 26%);
$gold-brand: hsl(34, 84%, 73%);

// Colors
$light-grey: hsl(30, 8%, 95%);
$light-grey-blue: hsl(213, 43%, 26%);
$light-brown: hsl(29, 61%, 87%);
$brown: hsl(210, 2%, 20%);



